.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
  max-width: 100vw;
  justify-content: center;
}

.product-card-image {
  position: relative;
  width: 100%;
  max-height: 160px;
  max-width: 300px;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fafafa;
  margin-bottom: 12px;
}

.product-card-content {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.product-card-content-description {
  font-size: 14px;
}
