.btn_custom {
  background-color: transparent;
  border: none;
  color: #4f8a69;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.btn_custom:hover {
  background-color: rgba(18, 124, 83, 0.1);
  color: #4f8a69;
  transition: background-color 0.5s ease;
}
