/* Evita el desplazamiento horizontal */
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  overflow: hidden;
}

/* Estilos generales del cuerpo */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** padding-top: 60px; /* Añade espacio superior para el header */
}

/* Reset de márgenes y padding */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos para los enlaces */
a {
  color: inherit;
  text-decoration: none;
}
