.headerNav {
  color: #fafafa;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Fondo blanco con algo de transparencia */
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 90%;
  height: 80px;
  inset: 1% 0% auto 0%;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más sutil para un efecto más suave */
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  backdrop-filter: blur(10px) saturate(180%); /* Efecto de vidrio esmerilado */
  -webkit-backdrop-filter: blur(10px) saturate(180%); /* Para compatibilidad con Safari */
}

.navigation {
  position: absolute;
  flex: 1;
  display: flex;
  gap: 16px;
  right: 32px;
}
