.footer-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  grid-row-start: 3;
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 100vw;
  padding: 24px 80px;
  /* background-color: #2b513d; */
  background-color: #744b80;
  color: #f2f7f4;
}

.footer-container-extra {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
  align-items: flex-end;
}

.footer-container-image {
  display: flex;
  justify-content: flex-start;
}

.footer-container-social {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-start;
}
