.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-start: 3;
  gap: 12px;
  width: 100%;
  padding: 24px 120px;
  background-color: #ceb2d8;
  color: #252525;
}

.footer-container-image {
  display: flex;
  width: 400px;
  justify-content: flex-start;
}

.footer-container-social {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  justify-content: flex-end;
}
